@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1b252c;
  overflow-x: hidden;
  line-height: 26px;
}
p:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Paytone One', sans-serif;
  color: #1b252c;
  font-weight: 400;
  margin: 0;
}
:focus-visible {
  outline: none;
}
a,
button {
  transition: all 0.4s ease 0s;
}
a:focus,
a:hover,
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
div {
  outline: none;
}
img {
  max-width: 100%;
}
.form-control,
.form-select {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #ddd !important;
  border-radius: 5px;
  font-size: 16px;
  height: 58px;
}
textarea.form-control {
  height: auto !important;
}
.form-control:focus,
.form-select:focus {
  background-color: transparent;
  border: 1px solid #ddd !important;
  border: 0;
  outline: none;
  box-shadow: none;
}
.c_btn a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  transition: all 0.4s ease 0s;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 500;
}
.l_btn a {
  background: #800000;
}
.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6,
.white p{
  color: #fff;
}
.heading h2{
  color: #800000;
}
.ml-30{
  margin-left: 30px;
}
.d_padding{
  padding: 80px 0;
}
/* main css  */

/* navigation bar  */
section.navigation .container-fluid {
  max-width: 1300px;
}
section.navigation {
  transition: all 200ms ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 10px 0;
}


header.main_header {
    padding: 10px 20px;
    transition: all 200ms ease-in;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
}
.fixed {
  position: fixed !important;
  background-color: #0E2245;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  box-shadow: 0 5px 35px 0 rgb(27 37 44 / 25%);
}
.navbar-brand img {
  width: 120px;
}
ul.nav.navbar-nav li a {
  color: #fff;
}
.dropdown-menu.show a {
  color: #000 !important;
}
.dropdown-toggle::after{
  display: none; 
}
li.nav-item.dropdown a i {
  font-size: 12px;
  margin-left: 3px;
}
.nav-link.dropdown-toggle i.fa.fa-chevron-up.up-arrow {
  display: none;
}
.nav-link.dropdown-toggle.show i.fa.fa-chevron-down.down-arrow {
  display: none;
  transition: all 200ms ease-in;
}
.nav-link.dropdown-toggle.show i.fa.fa-chevron-up.up-arrow {
  display: inline-block;
  transition: all 200ms ease-in;
}

li.nav-item.dropdown a:hover {
  color: #800000;
}
.dropdown-menu.show a:hover{
  background: transparent !important;
  color: #800000 !important;
}
ul.nav.navbar-nav li.nav-item.dropdown {
  margin-left: 10px;
}
.search_wrap button {
  background: #800000;
  border: none;
  padding: 10px 19px;
  border-radius: 0 23px 23px 0px;
  margin-left: -23px;
  z-index: 99;
  position: relative;
}
.search_wrap {
  display: flex;
  justify-content: space-between;
}
.search_wrap .search_shadow {
  position: absolute;
  width: 82%;
  border-radius: 30px 0px 0px 30px;
  padding: 26px 30px;
  background: #fff;
  top: -3px;
  left: 0px;
  z-index: 10;
}
.search_wrap input {
  border-radius: 40px 0px 0px 40px;
  border: none;
  padding: 9px 30px;
  background: #ECEDF1;
  position: relative;
  z-index: 20;
}
.button_shadow {
  position: relative;
  z-index: 999;
}
.search_wrap .button_shadow::before {
  content: "";
  position: absolute;
  padding-right: 59px;
  border-radius: 0px 30px 30px 0px;
  background: #D90000;
  right: 0;
  top: -3px;
  height: 100%;
}
.search_wrap button {
  background: #800000;
  border: none;
  padding: 10px 19px;
  border-radius: 0 30px 30px 0;
  margin-left: 0px;
  z-index: 20;
  position: relative;
}
.search_wrap .button_shadow::after {
  content: "";
  position: absolute;
  padding-right: 58px;
  border-radius: 0px 30px 30px 0px;
  background: #000;
  right: 1px;
  bottom: -4px;
  height: 100%;
  z-index: -1;
}
/* end navigation bar  */

/* main hero section  */
section.main_hero_sec {
  position: relative;
  background: #0E2245 url(../images/right-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  background-position: center;
  padding: 160px 0px 80px 0;
}
/* section.main_hero_sec::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/right-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  z-index: 1;
} */
.hero_right {
  position: relative;
}
.main_bg {
  max-width: 410px;
  margin: 0 auto;
}
.main_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 280px;
  margin: 0 auto;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.main_img img{
  /* border: 3px solid #fff; */
  border-radius: 140px;
  object-fit: cover;
}
.hero_left h1 {
  color: #EDDC92;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 15px;
}
.hero_left h2 {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 15px;
}
.n_btn a {
  border: 1px solid #fff;
  color: #fff;
}
.n_btn a:hover {
  background: #800000;
  border-color: #800000;
}
.c_btn.n_btn a img {
  width: 20px;
  margin-left: 10px;
}
/* end hero section  */